html{
font-size: 0.75rem;
}
.container-fluid{
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    
}

@keyframes changeLetter {
    0% {
      content: "A";
    }
    50% {
      color: white;
    }
    100% {
      content: "B";
    }
  }
  
  .letter-changer::after {
    animation: changeLetter 3s linear infinite alternate;
  }